.App {
  font-family: "Inter", sans-serif;
}

.navbar {
  height: 80px;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  background: transparent !important;
}

.jumbtron {
  border-radius: 15px;
}
