.App {
  font-family: "Inter", sans-serif;
}

.navbar {
  height: 80px;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  background: transparent !important;
}

.jumbotron {
  border-radius: 15px;
}

.pump-reading {
  font-size: 7em;
}

.sensor-reading {
  font-size: 3.5em;
}

.sensor-meter {
  height: 40px;
  width: 100%;
}

.weather-ico {
  display: flex;
  justify-content: start !important;
}
